<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="rozetkapay" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>RozetkaPay</label>
                <field id="active" translate="label comment" sortOrder="10" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Description</label>
                </field>
                <field id="sandbox" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_url" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Api URL</label>
                    <depends>
                        <field id="sandbox">0</field>
                    </depends>
                </field>
                <field id="sandbox_api_url" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Api URL</label>
                    <depends>
                        <field id="sandbox">1</field>
                    </depends>
                </field>
                <field id="shop_id" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Shop ID</label>
                    <depends>
                        <field id="sandbox">0</field>
                    </depends>
                </field>
                <field id="sandbox_shop_id" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Shop ID</label>
                    <depends>
                        <field id="sandbox">1</field>
                    </depends>
                </field>
                <field id="shop_pass" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Shop Password</label>
                    <depends>
                        <field id="sandbox">0</field>
                    </depends>
                </field>
                <field id="sandbox_shop_pass" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Shop Password</label>
                    <depends>
                        <field id="sandbox">1</field>
                    </depends>
                </field>
                <field id="request_description" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Request Description</label>
                    <comment><![CDATA[Order number variable <strong class="colorRed">{order_number}</strong> with braces is required.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
